

@media (min-width: 1200px) {

  form {
    width: 100%;
    max-width: 400px;
    font-size: 25px;
    background-color:  #ccc;
    margin: 0 auto;
  }

  fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: rgb(192, 192, 192);
    border-image: initial;
  }
  .coastal-areas {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .weather-1 { grid-area: top; }
  .weather-card { grid-area: menu; }
  .forecast { grid-area: right; }
  
  
  .weather {
    display: grid;
    grid-template-areas:
    'top top top top top'
    'menu menu  right right right';}

 
  .logo-2 { font-size: 30px;
    color: #F6BE9A;
   }
  .nav-links { 
    font-size: 30px;
    border-radius: 28px;
  }

#logo-1 { grid-area: top; }
.logo-2 { grid-area: menu; }
.nav-links { grid-area: right; }

  header {
    display: grid;
    grid-template-areas:
    'top menu menu'
    'top right  right';

  }
  


  .coastal-area-1 { grid-area: top; }
  .coastal-area-2 { grid-area: middle; }
  .coastal-area-3 { grid-area: left; }
  .coastal-area-4 { grid-area: right; }
  .coastal-area-5 { grid-area: bottom; }
  .coastal-title { grid-area: aside; }
  
    .coastal-areas{
      display: grid;
      grid-template-areas:
      'aside  aside  aside'
      'top  middle  left'
      'right  middle  bottom';
  
    }
    .image-ft{
      width: 300px;
      height: 300px;
    }
}